.cardListOpen{
li:nth-child(n+6) {
  display:list-item;
}
}
.cardListClosed{
li:nth-child(n+6) {
  display:none;
}
}
.hover{
  cursor: pointer;
  width: fit-content;
  &:hover{
    text-decoration: underline black;
  }
}
.ul{
  display: flex;
  padding-inline-start: 0;
flex-wrap: wrap;
justify-content: space-evenly;
list-style: none;
}
.scrollUl{
  display: flex;
  padding: 0 55px;
  overflow-y: auto;
  padding-inline-start: 0;
}
.scrollList{
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: 0.125s ease all;
  // border: 1px solid white;
  list-style: none;
  z-index: 0;
}
.correction{
  bottom: 4px;
}
.list{
max-width: 100%;
box-sizing: border-box;
transition: 0.125s all;
&:hover{
  z-index: 1;
  transform: scale(1.05);
} 
@media (min-width: 450px) {
  max-width: 50%;
}
@media (min-width: 875px) {
  max-width: 33%;
}
@media (min-width: 1200px) {
  max-width: 32%;
}
@media (min-width: 1600px) {
  max-width: 25%;
}
@media (min-width: 1900px) {
  max-width: 20%;
}
}
.wrapper{
  max-width: 1950px;
  margin: auto;
}
.img{
  max-width: 100%;
}
h3{
  position: absolute;
  bottom: 4.6px;
  padding: 1rem;
  margin: 0;
  width: 100%;
  background-color: gray;
  background-color: rgba(99, 99, 99, 0.892);
  color: white;
  box-sizing: border-box;
  height: 20%;
  text-align: center;
}
.titleing{
  position: absolute;
  bottom: 20px;
  padding: 1rem;
  margin: 0;
  width: 100%;
  background-color: gray;
  background-color: rgba(99, 99, 99, 0.892);
  color: white;
  box-sizing: border-box;
  height: 20%;
  text-align: center;
}


.flex{
  @media (min-width:800px) {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
}
.title{
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgb(255, 123, 0);
  transition: 0.125s ease all;
    @media (min-width:800px) {
      font-size: 2rem;
}
}
.hero{
  .hero_container{
    position: relative;
    width: fit-content;
    margin: auto;
    a{
      h3{
        box-sizing: border-box;
      }
      img{
        width: 100%;
      }
    }
  }
}