.article{
      height: fit-content;
      h2{
        color: black;
      }
  .picture{
    height: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: 0.125s ease all;
    padding-bottom: 2rem;
    h1{
      font-size: 1.5rem;
    }
    @media (min-width:1000px) {
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      h1{
        padding: 0 0.5rem;
      }
      section{
        h1{
          width: 100%;
          max-width: unset;
          font-size: 2rem;
        }
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
    img{
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%
    }
  }

}
.wrapper{
  max-width: 1950px;;
  margin: auto;
}
.orange{
  color: rgb(255, 123, 0);
}
.rating{
  margin: 0;
  span{

    color: rgb(255, 123, 0);
  }
  @media (min-width:1000px) {
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.871);
    position:absolute;

  }
}
.seasons{
  justify-content: space-evenly;
}
.flex{
  transition: 0.125s ease all;
  background-color: #bbbbbb99;
  @media (min-width:1000px) {
    display: flex;
  }
}
.padding{
  padding: 0.5rem;
}
.comp{
  @media (min-width:1000px) {
    display: flex;
    justify-content: space-evenly;
  }
  li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .compLogo{
    width: 5rem;
    height: 5rem;
    
  }
}
.users{
  
  li{
    list-style: none;
    display: flex;
    img{
      width: 2rem;
      height: 2rem;
    }
  }
}
.usersOpen{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  li{
  margin: auto;

    width: 26rem;
    display: flex;
    align-items: center;
    list-style: none;
    .userImg{
      background-color: rgba(128, 128, 128, 0.453);
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
    }
  li:nth-child(n+6) {
    display: flex;
  }
  }

  .usersClosed{
    li{
    display: flex;
    align-items: center;
    list-style: none;
    .userImg{
      background-color: gray;
      width: 2rem;
      height: 2rem;
    }
    }
  li:nth-child(n+6) {
    display: none;
  }
  }
  .hover{
    cursor: pointer;
  }