.flex{
  display: flex;
  width: fit-content;
  align-items: baseline;

  h4{
    margin:1rem  0.2rem ;
    @media (min-width:800px) {
      
    }
  }
}
.paging{
  display: flex;
  width: 100%;
  margin: auto;
  align-items: baseline;
  justify-content: space-between;
  @media (min-width:800px) {
    width: 90%;
  }
}
.hover{
  cursor: pointer;
}