
.mediaContainer{
h2{
color: rgb(255, 123, 0);
font-size: 1rem;
transition: 0.125s ease all;
width: 100%;
text-align: center;
padding: 1rem 0;
background-color: rgba(128, 128, 128, 0.302);
@media (min-width: 800px) {
font-size: 1.4rem; 
}
@media (min-width: 1600px) {
font-size: 2rem
}
}
}
.wrapper{
  max-width: 1950px;
  margin: auto;
}